.gallery {
  margin: 0;
  padding: 0 200px 66px 200px;
  max-width: 880px;
  min-height: 744px;
}

@media screen and (max-width: 1279px) {
  .gallery {
    max-width: 880px;
    padding: 0 50px 66px 50px;
  }
}

@media screen and (max-width: 979px) {
  .gallery {
    max-width: 768px;
    padding: 0 93px 66px 94px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    max-width: 282px;
    min-height: 2268px;
    padding: 0 19px 48px 19px;
  }
}