.popup__signature {
  margin: 0;
  padding: 0;
  background-color: transparent;
  max-width: 291px;
  min-height: 12px;
}

@media screen and (max-width: 981px) {
  .popup__signature {
    max-width: 240px;
  }
}