.profile__add-button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url("../../../images/add\ Button.png");
  background-color:  #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-shadow: none;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 981px) {
  .profile__add-button {
    width: 6px;
    height: 6px;
    padding: 24px 144px 24px 136px;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 6px;
    height: 6px;
    padding: 24px 144px 24px 136px;
  }
}