.popup__subm-button {
  margin: 49px 0 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  border-color: #000;
}

.popup__subm-button:hover {
  opacity: .6;
}

@media screen and (max-width: 981px) {
  .popup__subm-button {
    margin-top: 45px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}