.popup__subm-button {
  margin: 48px 0 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__subm-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__subm-button {
    width: 238px;
    height: 46px;
  }
}