.logo {
  background-image: url(../../images/logo.png);
  background-size: contain;
  color: #fff;
  width: 142px;
  height: 33px;
}

.logo:hover {
  transition: 2s;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 103px;
    height: 24px;
    opacity: .2;
  }
}