.footer {
  margin: 0;
  padding: 0 762px 60px 200px;
  max-width: 318px;
  min-height: 18px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 0 612px 36px 50px;
  }
}

@media screen and (max-width: 979px) {
  .footer {
    max-width: 282px;
    min-height: 14px;
    padding: 0 392px 36px 94px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 19px 36px 19px;
    max-width: 282px;
    min-height: 14px;
  }
}