.popup__close-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #000;
  background-image: url(../../../images/Popup-Close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  transition: opacity .3s ease-in-out;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 981px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}