.profile-info__edit-button {
  position: relative;
  margin: 0;
  padding: 0;
  top: 16px;
  right: -19px;
  width: 23px;
  height: 23px;
  background-image: url("../../../images/edit\ button.svg");
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
}

.profile-info__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}


@media screen and (max-width: 981px) {
  .profile-info__edit-button {
    width: 17px;
    height: 17px;
    top: 8px;
    right: -11px;
    background-size: 7.5px;
  }
}