.profile-info__edit-button {
  position: relative;
  margin: 0;
  padding: 0;
  top: 15px;
  right: -19px;
  width: 24px;
  height: 24px;
  background-image: url("../../../images/Edit\ Button.svg");
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
}

.profile-info__edit-button:hover {
  opacity: 0.6;
}