.profile-info__edit-button {
  position: relative;
  margin: 0;
  padding: 0;
  top: 15px;
  right: -25px;
  width: 23px;
  height: 23px;
  background-image: url("../../../images/edit\ button.svg");
  color: #fff;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
}

.profile-info__edit-button:hover {
  opacity: .6;
}


@media screen and (max-width: 981px) {
  .profile-info__edit-button {
    padding: 8px 7px 7px 8px;
    width: 7px;
    height: 7px;
    top: 15px;
    right: -25px;
  }
}

@media screen and (max-width: 767px) {
  .profile-info__edit-button {
    padding: 8px 7px 7px 8px;
    width: 7px;
    height: 7px;
    top: 8px;
    right: -21px;
  }
}